<h1>ブログ情報編集</h1>
<%= form_for @blog, url: { action: :update } do |f| %>
  <%= f.label :title, 'ブログタイトル' %>
  <%= f.text_field :title %>
  <%= f.label :description, '概要' %>
  <%= f.text_field :description %>
  <%= f.label :name, 'ブログのパス' %>
  <%= f.text_field :name %>
  <% if @blog.errors.any? %>
    <h2>エラー</h2>
    <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.submit "更新" %>
<% end %>
