<%= form_for @article, url: blog_articles_path(@blog.name) do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %>
  <%= f.label :name, 'パス' %>
  <%= f.text_field :name %>
  <%= f.label :content, '内容' %>
  <%= f.text_area :content %>
  <%= f.label :category, 'カテゴリ' %>
  <%= f.select :category, @blog.categories.map{|cat| [cat.name, cat.name]} %>
  <% if @article.errors.any? %>
    <h2>エラー</h2>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.submit "作成" %>
<% end %>
